html
{
  font-family: arial;
}




header
{
  margin-top: 2px;
  margin-right: 15px;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-right: 2px;
  display: inline-block;
  text-align: right;
  width: 98%;
  height: 40px;
  background-color: rgba(12, 126, 30, 1);
}

div
{
  display: inline-block;
  width: 100px;
  background-color: white;
}

.carre
{
  height: 16px;
  width: 16px;
  display : inline-block;
  background : url("iconcarregris.png") no-repeat;
}

.carre:hover
{
  height: 16px;
  width: 16px;
  display : inline-block;
  background : url("iconcarrenoir.png") no-repeat;
}




a
{
  text-decoration: none;
  color:black;
}

button
{
  width: 90px;
  height: 27px;
  color: white;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 13px;
  background-color: rgba(68, 134, 248, 1);
}


a:hover
{
  text-decoration: underline;
}

section
{
  background-color: blue;
  height: 550px;
}

article
{
  width: 40%;
  background-color: yellow;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

img
{
  display: block;
  margin: auto;
}

input
{
  display: block;
  margin: auto;
}

article button
{
  display: inline-block;
}

.boutons
{
 text-align: center;
}

input
{
width: 300px;
}

footer
{
  background-color: green;
  height: 60px;
}

}

.left
{
  float: left;
text-align: left;

}

.right
{
  float: right;
text-align: right;
}
