html
{
  font-family: arial;
}

body
{
  margin-left: 0px;
  margin-bottom: 0px;
}


header
{
  margin-right: 11px;
  padding-top: 8px;
  padding-bottom: 5px;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 98%;
  height: 40px;
  background-color: white;
}

div                          /*boutons gmail images carré connexion*/
{
  display: inline-block;
  width: 100px;
}


.images
{
  width:50px;
  margin:3px;
  font-size: 12px;
}
.gmail
{
  width:50px;
  margin:3px;
  font-size: 12px;
}

.carre
{
  margin:12px;
  height: 16px;
  width: 16px;
  display : inline-block;
  vertical-align: middle;
  background : url("iconcarregris.png") no-repeat;
}

.carre:hover                      /*Survol du carré changement couleur*/
{
  height: 16px;
  width: 16px;
  display : inline-block;
  background : url("iconcarrenoir.png") no-repeat;
}


a                        /*couleur de tous les liens noir*/
{
  text-decoration: none;
  color:black;
}

a:hover               /*survol des liens : souligner*/
{
  text-decoration: underline;
}

button           /*bouton connexion*/
{
  width: 94px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 13px;
  background-color: rgba(68, 134, 248, 1);
}



section
{
  background-color: white;
  height: 430px;
}

.articleclass        /*box image principale google*/
{
  width: 40%;
  background-color:white;
  margin: auto;
  margin-top: 130px;
  margin-bottom: 2px;
}

img
{
  display: block;
  margin: auto;
}

.google
{
  height:auto;
  width:300px;
}

.recherche            /*box searchbar*/
{
  margin-top: 30px;
  width: 100%;
  height: 60px;
  background-color: white;
}

input                 /*Searchbar*/
{
  display: block;
  margin: auto;
  width: 585px;
  height: 42px;
  border-radius:0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

input:hover           /*Survol searchbar*/
{
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2)
}

article button
{
  display: inline-block;
}

.boutons      /* box 2 boutons searchbar*/
{
 margin-top: 17px;
 text-align: center;
 height: 40px;
}

.boutons button    /*2 boutons searchbar*/
{
  height: 36px;
  width: 157px;
  background-color: rgba(0, 0, 0, 0.05);
  color: grey;
  margin: 3px;
}

.boutons button:hover
{
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
}

footer
{
  height: 20px;
  width: 99%;
  padding: 10px;
}


.left                    /*3 boutons footer left*/
{
  display: inline-block;
  float: left;
  width: 300px;
  height: 20px;
}

.right                   /*3 boutons footer right*/
{
  display: inline-block;
  float: right;
  width: 300px;
  height: 20px;
}

footer article a
{
  background-color: white;
  color:rgba(0, 0, 0, 0.8);
  font-size: 14px;
  margin: 10px;
}
